html {
    scroll-behavior: smooth;
  }
  
  body {
      font-size: 16px;
      background-color:white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  main, footer {
    font-size: 1vw;
  }
  
  /* navigation style */
  
  nav {
      background-color: rgba(0,0,0,0.7);
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1%;
      height:5vw;
    
    }
  nav a {
      font-size: 1vw;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transform: scale(1) ;
      transition: transform 0.2s ease-in-out ;
      color: white;
      padding: 1.8%;
      margin: 0.5%;
      background-color: #1d83ef;
      text-decoration: none ;    
      align-items: center;
    }
  
  nav a:first-child {
      margin-right: auto;
      padding: 0.5%;
      background-color: #333;
    }
  .open_sidebar {
      padding: 1%;
    }
  
  nav a:hover {
      transform: scale(1.1);
    }
    
    /* sidebar style */
    
  .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background-color: rgb(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 4px rgba(0,0,0,0.1);
      z-index: 999;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  .sidebar a {
      background-color: rgb(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);  
      color: black;
      padding: 10px;
      width: 100%;
      margin-left: 10px;
      border: 0;
      text-decoration: none ; 
    }
  .sidebar .logo {
      margin-left: 1%;
      width: 56px;
      border: black 3px solid;
    }
  .sidebar a:first-child {
      background-color: rgb(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);}
    
  .sidebar a:hover {
      background-color: #f9f9f9;
    }
    .sidebar .modal-open-button2 {
      font-size: 1vw;
      transform: scale(1);
      transition: transform 0.2s ease-in-out;
      color: black;
      width: 100%;
      padding: 10px;
      margin-left: 10px;
      border: 0;
      background-color: rgb(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      text-decoration: none ;
    }
    .sidebar .modal-open-button2:hover {
          transform: scale(1.1);
          background-color: #f9f9f9;
    }
    @media (max-width: 500px){
        .hide_on_mobile {
          display: none;
        }
    
    }
    @media (max-width:400px) {
      .sidebar {
        width: 100%;
      }
    }
    
    /* modal style */
    
    
    .modal-state {
      display: none;
    }
    
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      visibility: hidden; /* Hidden by default */
      opacity: 0;
      transition: visibility 0s, opacity 0.5s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    
    .modal-state:checked + .modal-overlay {
      visibility: visible;
      opacity: 1;
    }
    
    .modal-box {
      background-color: white;
      padding: 5%;
      border-radius: 5px;
      max-width: 20%;
      width: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      /* Transition for the modal box */
      transform: translateY(-50px); /* Start slightly above its natural position */
      transition: transform 0.5s ease-out;
    }
    
    .modal-state:checked + .modal-overlay .modal-box {
      transform: translateY(0); /* Move to its natural position */
    }
    
    .modal-open-button {
          font-size: 1vw;
          cursor: pointer;
          transform: scale(1) ;
          transition: transform 0.2s ease-in-out ;
          color: white;
          padding: 1.8%;
          margin: 0.5%;
          border: 1%;
          background-color: #1d83ef;
          text-decoration: none ;    
          align-items: center;
      }
      .modal-open-button:hover {
        transform: scale(1.1);
      }
    .modal-close-button {
          font-size: 1vw;
          margin-left: 40%;
          margin-top: 10%;
          border-radius: 4px;
          cursor: pointer;
          background-color: rgb(202, 33, 33);
          color: white;
          padding: 8%;
          border: 10%;
          text-align: center;
          display: inline-block;
          justify-content: center;
    }
    
    .modal-state:checked ~ *:not(.modal-overlay) {
      opacity: 0;              /* Make all other content invisible */
      pointer-events: none;    /* Disable clicks */
      user-select: none;       /* Prevent text selection */
    }
    .link_container {
      display: flex;
      justify-content: center;
      margin-left: 25%;
      margin-right:25% ;
    }
    .link_container a {
        transform: scale(1) ;
        transition: transform 0.2s ease-in-out ;
        border-radius: 4px;
        color: white;
        padding: 8%;
        margin: 20%;
        border: 10%;
        background-color: #1d83ef;
        text-decoration: none ;    
        align-items: center;
    }
    .link_container a:hover {
        transform: scale(1.1);
    }
    .modal-box h2 {
      font-size: 2vw;
      text-align: center;
      color: #0A66C2;
    }
    .modal-box p {
      font-size: 2vw;
      text-align: center;
      color:#0A66C2 ;
    }
    
    
    /* end of navigation style */

main {
    background-image: url("../img/halaban_man.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
}
h1 {
    padding: 2%;
    color: white;
    font-size: 4vw;
    text-align: center;
}
.halaban_history h2 {
    color: white;
    font-size: 3vw;
}
.halaban_history h3 {
    color: white;
    font-size: 2vw;
}
.halaban_history p {
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}
.halaba_gallary {
    margin: 2%;
    display: flex;
    gap: 2%;
}
.gallary1 {
    width: 25%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;
}
.gallary1 img {
    width:90%;
    height:100%;
    border-radius: 4px;

}
.gallary2 {
    width: 25%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;}
.gallary2 img {
    width:90%;
    height:100%;
    border-radius: 4px;

}
.gallary3 {
    width: 25%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;}
.gallary3 img {
    width:90%;
    height:100%;
    border-radius: 4px;
}
.gallary4 {
    width: 25%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;}
.gallary4 img {
    width:90%;
    height:100%;
    border-radius: 4px;
}
.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.iframe1 {
    width: 40%;
    height: 40%;
    border-radius: 4px;
    padding: 1%;
}
.iframe2 {
    width: 40%;
    height: 40%;
    border-radius: 4px;
    padding: 1%;
}
.iframe3 {
    width: 40%;
    height: 40%;
    border-radius: 4px;
    padding: 1%;
}
.halaban_history {
    padding: 2%;
    
}

        /* Footer style */

footer {
    margin-top: 2%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding: 1rem;
  }
  .footer_nav {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .footer_nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1) ;
    transition: transform 0.2s ease-in-out ;
    color: white;
    padding: 1.8%;
    margin: 0.5%;
    background-color: #1d83ef;
    text-decoration: none ;    
    align-items: center;
  }
  .footer_nav a:hover {
    transform: scale(1.1);
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8%;
  }
  .socials a {
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
      margin-left: 0.7%;
  }
  .socials a:hover {
      transform: scale(1.2);
  }
  .signature {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .signature a {
      text-decoration: none;
      color: #1d83ef;
  }